.top-hud{

    position:relative;

    z-index:5;

    margin:20px 35px;

    padding:18px 25px;


    display:flex;

    justify-content:space-between;

    align-items:center;


    background:
    rgba(14,22,38,.7);


    backdrop-filter:blur(20px);


    border:

    1px solid rgba(0,255,255,.2);


    border-radius:20px;


    box-shadow:

    0 0 30px rgba(0,255,255,.08);

}



.hud-brand{

    color:#00ffff;

    font-size:22px;

    font-weight:bold;

    letter-spacing:3px;

}



.hud-brand span{

    display:block;

    font-size:11px;

    color:#9ab;

    letter-spacing:2px;

}



.hud-status{

    display:flex;

    gap:25px;

    color:#bfffff;

    font-size:14px;

}



.hud-time{

    color:white;

    font-family:

    "Courier New";

    font-size:20px;

}



.hud-user{

    color:#00ffff;

    padding:10px 18px;

    background:

    rgba(0,255,255,.1);

    border-radius:20px;

}