.terminal-page{


min-height:100vh;

margin-left:260px;

padding:35px;

color:white;


background:

radial-gradient(
circle at top,
rgba(0,255,255,.12),
transparent 45%
);


}




.terminal-header{


display:flex;

justify-content:space-between;

align-items:center;


}



.terminal-header h1{


font-size:38px;

letter-spacing:3px;

color:#00ffff;


text-shadow:

0 0 20px cyan;


}



.terminal-status{


padding:10px 20px;


border-radius:20px;


background:

rgba(0,255,150,.15);


border:

1px solid #00ff99;


color:#00ff99;


font-weight:bold;


}






.terminal-window{


margin-top:35px;


height:650px;


background:

rgba(0,0,0,.75);


border-radius:25px;


border:

1px solid rgba(0,255,255,.3);


box-shadow:


0 0 40px rgba(0,255,255,.15);


overflow:hidden;


}





.terminal-top{


height:45px;


display:flex;


align-items:center;


gap:10px;


padding-left:20px;


background:

rgba(255,255,255,.05);


}



.terminal-top span{


width:14px;

height:14px;


border-radius:50%;


background:#00ffff;


}




.terminal-body{


height:520px;


padding:25px;


overflow-y:auto;


font-family:

"Courier New",
monospace;


}



.terminal-body p{


color:#00ff99;


margin:10px 0;


font-size:16px;


animation:

terminalFade .3s;


}





.terminal-input{


display:flex;


align-items:center;


gap:15px;


padding:20px;


background:

rgba(0,0,0,.6);


font-family:

monospace;


color:#00ffff;


}



.terminal-input input{


flex:1;


background:transparent;


border:none;


outline:none;


color:white;


font-size:16px;


font-family:monospace;


}




@keyframes terminalFade{


from{

opacity:0;

transform:translateY(8px);

}


to{

opacity:1;

}


}




@media(max-width:700px){


.terminal-page{

margin-left:0;

padding:20px;

}



.terminal-window{

height:600px;

}


}