.settings-page{

min-height:100vh;

margin-left:260px;

padding:35px;

color:white;

background:

radial-gradient(
circle at top,
rgba(0,255,255,.18),
transparent 45%
);

}



/* HEADER */

.settings-header{

display:flex;

justify-content:space-between;

align-items:center;

}


.settings-header h1{

font-size:42px;

letter-spacing:4px;

color:#00ffff;

text-shadow:
0 0 25px cyan;

}


.settings-header p{

color:#9bb0c5;

}



.system-online{

padding:12px 25px;

border-radius:30px;

color:#00ff99;

border:

1px solid #00ff99;

background:

rgba(0,255,150,.12);

}





/* PROFILE */

.profile-card{

margin-top:35px;

padding:30px;

display:flex;

align-items:center;

gap:30px;

background:

rgba(15,25,45,.7);

border:

1px solid rgba(0,255,255,.25);

border-radius:30px;

backdrop-filter:blur(20px);

}



.core-circle{

width:100px;

height:100px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:35px;

font-weight:bold;

color:white;

background:

radial-gradient(
circle,
cyan,
#0055ff
);


box-shadow:

0 0 50px cyan;


animation:pulse 2s infinite;

}



.profile-card span{

color:#00ff99;

}



/* GRID */


.settings-grid{

margin-top:35px;

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:25px;

}



.control-card{

padding:30px;

height:180px;

background:

rgba(10,20,35,.75);

border-radius:25px;

border:

1px solid rgba(0,255,255,.25);

backdrop-filter:blur(20px);

transition:.3s;

}



.control-card:hover{

transform:translateY(-8px);

box-shadow:

0 0 35px rgba(0,255,255,.3);

}



.control-card h3{

color:#00ffff;

}





.range-value{

font-size:40px;

color:#00ffff;

margin:15px 0;

}



input[type="range"]{

width:100%;

accent-color:cyan;

}





/* TOGGLE */


.toggle-row{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:35px;

}


.toggle{

width:65px;

height:32px;

border-radius:20px;

background:#233244;

padding:4px;

cursor:pointer;

}



.toggle div{

width:24px;

height:24px;

background:white;

border-radius:50%;

transition:.3s;

}



.toggle.on{

background:#00ffff;

}



.toggle.on div{

transform:translateX(33px);

}





.security{

border-color:

rgba(255,50,80,.5);

}





/* SAVE */


.save-control{

margin-top:40px;

text-align:center;

}



.save-control button{

padding:18px 50px;

border-radius:30px;

border:none;

font-weight:bold;

font-size:16px;

background:

linear-gradient(
90deg,
cyan,
#0077ff
);


box-shadow:

0 0 40px cyan;

cursor:pointer;

}





@keyframes pulse{

50%{

transform:scale(1.08);

}

}




@media(max-width:1000px){

.settings-grid{

grid-template-columns:

repeat(2,1fr);

}

}



@media(max-width:700px){

.settings-page{

margin-left:0;

padding:20px;

}


.settings-grid{

grid-template-columns:1fr;

}


.settings-header{

flex-direction:column;

align-items:flex-start;

gap:20px;

}

}