.assistant-page{


min-height:100vh;

margin-left:260px;

padding:35px;

color:white;


background:

radial-gradient(
circle at top,
rgba(0,255,255,.12),
transparent 40%
);


}




.assistant-header{


display:flex;

justify-content:space-between;

align-items:center;


}



.assistant-header h1{


font-size:38px;

letter-spacing:3px;

color:#00ffff;

text-shadow:

0 0 20px cyan;


}



.online{


padding:10px 20px;

border-radius:20px;

background:

rgba(0,255,150,.15);


border:

1px solid #00ff99;


color:#00ff99;

font-weight:bold;


}





.assistant-container{


margin-top:30px;

height:650px;


background:

rgba(10,20,35,.75);


backdrop-filter:blur(20px);


border:

1px solid rgba(0,255,255,.25);


border-radius:30px;


display:flex;

flex-direction:column;


overflow:hidden;


}





.chat-box{


flex:1;

padding:30px;

overflow-y:auto;


}





.message{


max-width:65%;

padding:18px;

margin-bottom:20px;

border-radius:20px;


animation:

fade .3s;


}



.message span{


font-size:12px;

font-weight:bold;

color:#00ffff;


}



.message p{

margin-top:8px;

font-size:16px;

}



.ai{


background:

rgba(0,255,255,.12);


border:

1px solid rgba(0,255,255,.3);


}



.user{


margin-left:auto;


background:

rgba(0,120,255,.25);


border:

1px solid rgba(0,150,255,.5);


}





.typing{


color:#00ff99;

font-family:monospace;

animation:blink 1s infinite;


}




.input-area{


display:flex;

padding:20px;

gap:15px;


background:

rgba(0,0,0,.35);


}



.input-area input{


flex:1;

padding:18px;


border-radius:20px;


background:#07111f;


border:

1px solid cyan;


color:white;


font-size:16px;


outline:none;


}



.input-area button{


width:120px;

border:none;

border-radius:20px;


background:

linear-gradient(
90deg,
cyan,
#008cff
);


font-weight:bold;


cursor:pointer;


}




@keyframes fade{


from{

opacity:0;

transform:translateY(10px);

}


to{

opacity:1;

}


}



@keyframes blink{


50%{

opacity:.4;

}

}



@media(max-width:700px){


.assistant-page{

margin-left:0;

padding:20px;

}



.assistant-container{

height:600px;

}


}
.ai-core{

display:flex;

flex-direction:column;

align-items:center;

margin:30px;


}



.core{


width:120px;

height:120px;


border-radius:50%;


background:

radial-gradient(
circle,
cyan,
#0066ff,
transparent 70%
);



box-shadow:

0 0 50px cyan;


animation:pulse 2s infinite;


}



.core.listening{


background:

radial-gradient(
circle,
#00ff99,
cyan,
transparent 70%
);


box-shadow:

0 0 70px #00ff99;


}



.ai-core p{


color:#00ffff;

font-family:monospace;

letter-spacing:3px;


}



.mic{


width:55px;

height:55px;


border-radius:50%;


border:1px solid cyan;


background:

rgba(0,255,255,.15);


color:white;


font-size:22px;


cursor:pointer;


}



@keyframes pulse{


0%{

transform:scale(1);

}


50%{

transform:scale(1.15);

}


100%{

transform:scale(1);

}


}