.dashboard-grid {
    display: grid;

    grid-template-columns: repeat(12, 1fr);

    grid-auto-rows: minmax(120px, auto);

    gap: 22px;

    width: 100%;
}
.dashboard-grid{

    position:relative;

    z-index:2;

}