.terminal-widget{

    height:100%;

    display:flex;

    flex-direction:column;

    font-family:
    "Courier New",
    monospace;

}



.terminal-header{

    display:flex;

    justify-content:space-between;

    color:#00ffff;

    padding-bottom:15px;

}



.terminal-header span{

    color:#00ff88;

}



.terminal-screen{

    flex:1;

    background:

    rgba(0,0,0,.35);


    padding:15px;

    border-radius:15px;

    color:#9effff;

    font-size:14px;

}



.terminal-screen p{

    margin:10px 0;

}



.terminal-screen span{

    color:#00ff88;

    margin-right:8px;

}



.cursor{

    animation:blink 1s infinite;

}



@keyframes blink{

    50%{

        opacity:0;

    }

}



.terminal-input{

    display:flex;

    gap:10px;

    margin-top:15px;

    color:#00ffff;

}



.terminal-input input{

    flex:1;

    background:transparent;

    border:none;

    outline:none;

    color:white;

    font-family:
    "Courier New";

}