.stats-grid{

    display:grid;

    grid-template-columns:repeat(6,1fr);

    gap:20px;

    margin-bottom:30px;

}

.stats-card{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(0,255,255,.15);

    border-radius:20px;

    padding:22px;

    backdrop-filter:blur(20px);

    transition:.35s;

    position:relative;

    overflow:hidden;

}

.stats-card::before{

    content:"";

    position:absolute;

    width:200px;

    height:200px;

    background:radial-gradient(circle,rgba(0,255,255,.18),transparent 70%);

    top:-120px;

    right:-120px;

    transition:.5s;

}

.stats-card:hover{

    transform:translateY(-8px);

    box-shadow:0 0 35px rgba(0,255,255,.25);

}

.stats-card:hover::before{

    transform:scale(1.4);

}

.stats-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:18px;

}

.stats-icon{

    font-size:24px;

}

.stats-title{

    color:#9befff;

    font-size:14px;

}

.stats-card h1{

    font-size:34px;

    margin-bottom:20px;

    letter-spacing:2px;

}

.progress{

    width:100%;

    height:8px;

    background:#0d1a28;

    border-radius:10px;

    overflow:hidden;

}

.progress-fill{

    height:100%;

    border-radius:10px;

    box-shadow:0 0 15px currentColor;

    animation:loading 2s infinite alternate;

}

@keyframes loading{

    from{

        opacity:.5;

    }

    to{

        opacity:1;

    }

}

@media(max-width:1500px){

.stats-grid{

grid-template-columns:repeat(3,1fr);

}

}

@media(max-width:900px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.stats-grid{

grid-template-columns:1fr;

}

}